/* TopBar.css */
.top-bar {
  background-color: #1a5276; /* Darker shade of blue */
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar h1 {
  margin: 0;
  font-size: 1.5rem; /* Adjust font size as needed */
  text-align: center; /* Center align the hotel name */
  flex: 1; /* Allow the hotel name to take up remaining space */
}